@(assets : java.util.List[_root_.persistence.Asset])

@frame("Asset List"){
<script type="text/javascript" class="init">
$(document).ready(function() {
    var table = $('#example').DataTable();
	
	$('#example tbody').on( 'click', 'td', function () {
        $(this).toggleClass('selected');
    } );
 

} );

</script>

<script type="text/javascript">
function toggle(button) {
  if (button.value == "REMOVE") {
    button.value = "ADD";
  } else {
    button.value = "REMOVE";
  }
}
</script>
	
<h2>List of Assets</h2>
<a href="/newAsset" class="newEntityButton">Add New Asset</a>
<div id="wrapper">
<div id="leftcolumn">
                <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Inventory Number</th>
                <th>Checkout Status</th>
                <th>Cart Add/Remove</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Inventory Number</th>
                <th>Checkout Status</th>
                <th>Cart Add/Remove</th>
            </tr>
        </tfoot>
        <tbody>
        	@for(asset <- assets){
        			<tr class="asset-info">
        				
                        <td>
                        	<span class="hidden assetId">@asset.getAssetId()</span>
                            <a href="/asset?assetId=@asset.getAssetId()">@asset.getName();</a>
                        </td>
                        <td>
                            @asset.getAssetType();
                        </td>
                        <td>
                            @asset.getInventoryNumber();
                        </td>
						<td>
                            Available
                        </td>
                        <td>
                        	<input type="button" class="addButton add-asset-button" value="ADD">
                        	<input type="button" class="remButton remove-asset-button" value="REMOVE">
                        </td>
                    </tr>
        	}
                   
        </tbody>
    </table>
</div>
	@cartSidebar()
</div>
}