<div id="rightcolumn">
		<img src="assets/images/cart.png" width="128" height="128" alt="shopping cart icon" title="shopping cart">
		<p>		<a href="/immediateCheckout" class="chkNowButton">Checkout Immediately</a></p>
		<p>		<a href="/scheduleCheckout" class="schChkButton">Schedule For Checkout</a>	</p>
		<table class="cart-entity">
			<tr>
				<td>Customer Name</td>
			</tr>
			<tr>
				<td><a href="#" class="xButton">X</a>&nbsp;Rumple Derpskin</td>
			</tr>
		</table>
		</br>
		<table class="cart-entity">
			<tr>
				<td>Asset Name(s)</td>
			</tr>
			<tr>
				<td><a href="#" class="xButton">X</a>&nbsp;Dell Latitude Laptop 05</td>
			</tr>
			<tr>
				<td><a href="#" class="xButton">X</a>&nbsp;Epson Projector 01</td>
			</tr>
			<tr>
				<td><a href="#" class="xButton">X</a>&nbsp;Kensington Presentation Pointer 06</td>
			</tr>
		</table>
	</div>