@import _root_.datadefinitions.CustomerType
@import java.lang.String; var firstName = ""; var lastName = ""; var email = ""; var phone = ""; var customerType = ""; var uvid = ""; var notes = "";
@(customer : _root_.persistence.Customer = null)
@{
	if(customer != null){
		firstName = customer.getFirstName();
		lastName = customer.getLastName();
		email = customer.getEmail();
		phone = customer.getPhone();
		customerType = customer.getCustomerType.name();
		uvid = customer.getUvid();
		notes = customer.getNotes();
	}
}
<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Create Customer Entry</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/view.css" media="all">
	<script type="text/javascript" src="assets/javascripts/view.js"></script>
	<script type="text/javascript" src="assets/javascripts/calendar.js"></script>
</head>
<body id="main_body" >
	<img id="top" src="assets/images/top.png" alt="">
	<div id="form_container">
		<h1><a>Create Customer Entry</a></h1>
		<form id="form_1101196" name="createCustomerCreationForm" class="appnitro"  method="post" action="/api/customer">
			<div class="form_description">
				<h2>Create Customer Entry</h2>
				<p>This page is for entering in new customers whose data is not in the database.</p>
				<div id="requirednote" style="text-align: center">
					<p>* = Required Field</p>
				</div>
			</div>
			<ul >
				<li id="createcusname" >
					<label class="description" for="createcusname">* Customer Name </label>
					<span>
						<input id="firstName" name= "firstName" class="element text" maxlength="255" size="8" value="@firstName"/>
						<label>First</label>
					</span>
					<span>
						<input id="lastName" name= "lastName" class="element text" maxlength="255" size="14" value="@lastName"/>
						<label>Last</label>
					</span>
					<p class="guidelines" id="createcusname"><small>Please enter the Customer's given name. </small></p>
				</li>
				<li id="customerType" >
					<label class="description" for="customerType">* Customer Type </label>
					<div>
						<select class="element select small" id="customerType" name="customerType">
							<option value="" selected ="selected"></option>
						@for(item <- CustomerType.values()){
							@if(customerType == item.name()){
								<option value="@item.name()" selected = "selected">@item.name()</option>
							}else {
								<option value="@item.name()">@item.name()</option>
							}
						}
						</select>
					</div>
					<p class="guidelines" id="customerType"><small>Please enter the type of Customer that is checking out the asset.</small></p>
				</li>
				<li id="email" >
					<label class="description" for="email">* Customer Email </label>
					<div>
						<input id="email" name="email" class="element text large" type="text" maxlength="255" value="@email"/>
					</div>
					<p class="guidelines" id="email"><small>Please enter the Customer's prefered email.</small></p>
				</li>
				<li id="phone" >
					<label class="description" for="phone">  Customer Phone Number </label>
					<div>
						<input id="phone" name="phone" class="element text small" type="text" maxlength="11" value="@phone"/>
					</div>
					<p class="guidelines" id="guide_createpurchasedate"><small>Please enter the Customer's prefered phone number.</small></p>
				</li>
				<li id="uvid" >
					<label class="description" for="uvid">UVU ID Number </label>
					<div>
						<input id="uvid" name="uvid" class="element text small" type="text" maxlength="10" value="@uvid"/> 
						<!--data validation for this field should allowed an empty value or a string of 8.-->
					</div>
					<p class="guidelines" id="uvid"><small>Please enter the Customer's UVU ID Number.</small></p>
				</li>
				<li id="notes" >
					<label class="description" for="notes">  Notes </label>
					<div>
						<textarea id="notes" name="notes" class="element textarea medium" maxlength="255">@notes</textarea>
					</div>
					<p class="guidelines" id="notes"><small>Use this field for anything you believe is worth noting.</small></p>
				</li>
				<li class="buttons">
					<input type="hidden" name="form_id" value="1101196" />
					<input id="saveForm" class="button_text" type="submit" name="submit" value="Save" />
				</li>
			</ul>
		</form>
	</div>
	<img id="bottom" src="assets/images/bottom.png" alt="">
</body>
</html>