@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
  	<title>@title</title>
  	
  	<link type="text/css" href="assets/stylesheets/jquery.simple-dtpicker.css" rel="stylesheet" />
  	<link href='assets/stylesheets/fullcalendar.css' rel='stylesheet' />
	<link href='assets/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />
  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/HFStylesheet.css" />
  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/view.css" media="all">
  	
  	
  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  	<script type="text/javascript" src="assets/javascripts/jquery.simple-dtpicker.js"></script>
  	<script src='assets/javascripts/lib/moment.min.js'></script>
	<script src='assets/javascripts/fullcalendar.min.js'></script>
	<script type="text/javascript" src="assets/javascripts/dataTable.js"></script>
  	<script type="text/javascript" src="assets/javascripts/view.js"></script>
  	<script type="text/javascript" src="assets/javascripts/main.js"></script>
	
	
	
  	
		
</head>
<body>
	<div id="container">
		<div id="header">
		<h1>Woodbury IT Checkout System</h1>
			<div id="links-header">
			<h5>
			<p> <style="text-align: left; float: left;">
				<a href="/assets" title='Assets'> Assets</a>
				<a href="/customers" title='Customers'> Customers</a>
				<a href="/checkouts">Current Checkouts</a>
				<a href="/pastCheckouts">Past Checkouts</a>
				<a href="/scheduledCheckouts">Scheduled Checkouts</a>
				<a href="http://www.google.com" title='Calendar'> Calendar</a>
				<a href="http://www.google.com" title='Documentation'> Documentation</a>
			
			</p>
			</h5>
		</div>
	</div>
	@content
	<footer>
		<div id="footer">
			
			<a style="text-align: center; padding-left: 10px">Made with love by the Hot Assets.</a>
			
		</div>
</footer>
</body>
</html>