@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
  	<title>@title</title>
  	
  	<link type="text/css" href="assets/stylesheets/jquery.simple-dtpicker.css" rel="stylesheet" />
  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/HFStylesheet.css" />
  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/view.css" media="all">
  	
  	
  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  	<script type="text/javascript" src="assets/javascripts/jquery.simple-dtpicker.js"></script>
  	<script type="text/javascript" language="javascript" src="assets/javascripts/assetList.js"></script>
	<script type="text/javascript" language="javascript" src="assets/javascripts/dataTable.js"></script>
  	<script type="text/javascript" src="assets/javascripts/view.js"></script>
  	<script type="text/javascript" src="assets/javascripts/main.js"></script>
	
	
	
  	
		
</head>
<body>
	<div id="container">
		<div id="header">
		<h1>Woodbury IT Checkout System</h1>
			<div id="links-header">
			<h5>
			<p> <style="text-align: left; float: left;">
				<a href="/assets" title='Assets'> Assets</a>
				<a href="/customers" title='Customers'> Customers</a>
				<a href="http://www.google.com" title='Calendar'> Calendar</a>
				<a href="http://www.google.com" title='Documentation'> Documentation</a>
			
			<a style="text-align: right; float: right;padding-right: 10px;" href="http://www.google.com" title='Log Out'> Log Out</a>
			<a style="text-align: right; float: right;">Welcome User</a>
			</p>
			</h5>
		</div>
	</div>
	@content
</body>
</html>