<!DOCTYPE html>
<html>
<head>
  <title>Woodbury IT Checkout System</title>
  <link rel="stylesheet" type="text/css" href="HFStylesheet.css" />
  <div id="container">
		<div id="header">
		<h1>Woodbury IT Checkout System</h1>
			<div id="links-header">
			<h5>
			<p> <style="text-align: left; float: left;">
				<a href="http://www.google.com" title='Assets'> Assets</a>
				<a href="http://www.google.com" title='Users'> Users</a>
				<a href="http://www.google.com" title='Calendar'> Calendar</a>
				<a href="http://www.google.com" title='Documentation'> Documentation</a>
			
			<a style="text-align: right; float: right;padding-right: 10px;" href="http://www.google.com" title='Log Out'> Log Out</a>
			<a style="text-align: right; float: right;">Welcome User</a>
			</p>
			</h5>
			</div>
		</div>
		
</head>
<body>
	<div id="content">
		<p>Where the stuff will go.</p>
	</div>
</body>
<footer>
		<div id="footer">
			<h5>
			<p> <style="text-align: left;">
				<a href="http://www.google.com" title='Assets'> Assets</a>
				<a href="http://www.google.com" title='Users'> Users</a>
				<a href="http://www.google.com" title='Calendar'> Calendar</a>
				<a href="http://www.google.com" title='Documentation'> Documentation</a>
			</p>
			</h5>
			<a style="text-align: center; padding-left: 10px">Made with love by the Hot Assets.</a>
			
		</div>
</footer>
</html>