@frame("Immediate Checkout"){
	
	<img id="top" src="assets/images/top.png" alt="">
	<div id="form_container">
	
		<h1><a>Checkout Asset Immediately</a></h1>
		<form id="form_1108616" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>Checkout Asset Immediately</h2>
			<p></p>
		</div>						
			<ul >
			
			<label class="description" for="lbl_dueDateTime">* Due Date - Time </label></br>
			<input class="date-picker" type="text" name="dueDateTime" value="">
		<script type="text/javascript">
			$(function(){
				$('*[name=dueDateTime]').appendDtpicker({
					"inline": true,
					"current": "current"
				});
			});
		</script>
		</br></br>
					<li id="li_2" >
		<label class="description" for="lbl_description">* Checkout Description </label>
		<div>
			<textarea id="description" name="description" class="element textarea medium"></textarea> 
		</div><p class="guidelines" id="guide_1"><small>Reason for checking out asset(s)</small></p> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="1108616" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>
		@cartSidebar()	
	</div>
	<img id="bottom" src="assets/images/bottom.png" alt="">
	
}