<html>

<head>

<link type="text/css" href="assets/stylesheets/jquery.simple-dtpicker.css" rel="stylesheet" />
  	<link href='assets/stylesheets/fullcalendar.css' rel='stylesheet' />
	<link href='assets/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />
  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/HFStylesheet.css" />
  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/view.css" media="all">
  	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/jquery.simple-dtpicker.js"></script>
	<script type="text/javascript" src="assets/javascripts/dataTable.js"></script>
	<script src='assets/javascripts/lib/moment.min.js'></script>
	<script src='assets/javascripts/fullcalendar.min.js'></script>
	<script type="text/javascript" src="assets/javascripts/view.js"></script>
	<script type="text/javascript" src="assets/javascripts/main.js"></script>


</head>
<body>

<a class="wtf">wtf</a>

</body>

</html>