@(asset : _root_.persistence.Asset)

@frame("View Asset"){
	<div class="asset-info">
		<h3>@asset.getName() (@asset.getAssetId())</h3>
		<table class="view-entity">
			<tr>
				<td>Asset ID</td>
				<td><span class="assetId">@asset.getAssetId()</span></td>
			</tr>
			<tr>
				<td>Asset Name</td>
				<td><span class="assetId">@asset.getName()</span></td>
			</tr>
			<tr>
				<td>Inventory Number</td>
				<td>@asset.getInventoryNumber()</td>
			</tr>
			<tr>
				<td>Asset Type</td>
				<td>@asset.getAssetType()</td>
			</tr>
			<tr>
				<td>Priority Level</td>
				<td>@asset.getPriorityLevel()</td>
			</tr>
			<tr>
				<td>Purchase Date</td>
				<td>@asset.getPurchaseDate()</td>
			</tr>
			<tr>
				<td>Date Lost</td>
				<td>@asset.getDateLost()</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>@asset.getDescription()</td>
			</tr>
		</table>
		</br><a href="/editAsset?assetId=@asset.getAssetId()" class="editButton">Edit Info &raquo;</a>
	</div>
	
	
}