@(customer : _root_.persistence.Customer)
	
@frame("View Customer"){
<div id="wrapper">
<div id="leftcolumn">
	<div class="customer-info">
		<h3>@customer.getFirstName() &nbsp; @customer.getLastName() &nbsp; (@customer.getCustomerId())</h3>
		<table class="view-entity">
			<tr>
				<td>Customer ID</td>
				<td><span class="customerId">@customer.getCustomerId()</span>
			</tr>
			<tr>
				<td>First Name</td>
				<td>@customer.getFirstName()</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td>@customer.getLastName()</td>
			</tr>
			<tr>
				<td>Type</td>
				<td>@customer.getCustomerType()</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>@customer.getEmail()</td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>@customer.getPhone()</td>
			</tr>
			<tr>
				<td>UVID</td>
				<td>@customer.getUvid()</td>
			</tr>
			<tr>
				<td>Notes</td>
				<td>@customer.getNotes()</td>
			</tr>
		</table>
		</br><a href="/editCustomer?customerId=@customer.getCustomerId()" class="editButton">Edit Info &raquo;</a>
	</div>
	</div>
	@cartSidebar()
</div>
} 