@(assets : java.util.List[_root_.persistence.Asset], customer : _root_.persistence.Customer)


<div id="cart-view">
		<img  class="wtf" src="assets/images/cart.png" width="128" height="128" alt="shopping cart icon" title="shopping cart">
		<p>		<a href="/immediateCheckout" class="chkNowButton">Checkout Immediately</a></p>
		<p>		<a href="/scheduleCheckout" class="schChkButton">Schedule For Checkout</a>	</p>
		<table class="cart-entity">
			<tr>
				<td>Customer Name</td>
			</tr>
			<tr>
				<td><a href="#" class="xButton remove-customer-button">X</a> <a href="/customer?customerId=@customer.getCustomerId()">@customer.getFirstName() @customer.getLastName()</a></td>
			</tr>
		</table>
		</br>
		<table class="cart-entity">
			<tr>
				<td>Asset Name(s)</td>
			</tr>
			@for(asset <- assets){
				<tr>
					<td><a href="#" data-assetId="@asset.getAssetId()" class="xButton remove-asset-button">X</a><a href="/asset?assetId=@asset.getAssetId()">@asset.getName()</a></td>
				</tr>
			
			}
		</table>


</div>